.contents{
  animation-name:fadeInAnime;
  animation-duration:3s;
  animation-fill-mode:forwards;
  opacity:0;
}
  
@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html:before,
html:after,
body:before,
body:after {
  content: "";
  background: #6fd8eb;
  position: fixed;
  display: block;
  z-index: 1;
}

/* 上 */
html:before {
  height: 10px; 
  width: 100vw;
  left: 0;
  top: 0;
}

/* 右 */
html:after {
  width: 10px;
  height: 120vh;
  right: 0;
  top: 0;
}

/* 下 */
body:before {
  height: 10px;
  width: 100vw;
  bottom: 0;
  left: 0;
}

/* 左 */
body:after {
  width: 10px;
  height: 120vh;
  top: 0;
  left: 0;
}

.center{
  margin: 0 auto;
}

.contents{
    margin: 7rem 10%;
    color: white;
    font-family: "Shippori Mincho", serif;
}

.block{
  margin: 3em 0;
}

.menu{
  line-height: 2em;
}

#title{
  padding: 3% 0;
  background-color: #6fd8eb;
  color: black;
  text-align: center;
  font-size: 5em;
  width: 100%;
  font-family: 'Questrial', 'Helvetica', sans-serif;
  z-index: 3;
}

p{
  margin: 2em 0;
  line-height: 2.2em;
}

p.sabi{
  padding: 0 2em;
}

a{
  text-decoration: none;
  color: #fff;
  transition: .3s;
}

a:hover{
  color: #6fd8eb;
  transition: .3s;
}

h1{
  font-family: 'Questrial', 'Helvetica', sans-serif;
  margin: 0;
}

h2{
  font-family: 'Questrial', 'Helvetica', sans-serif;
  margin: 0.3em 0;
  color: #999;
}

h4{
  font-family: 'Questrial', 'Helvetica', sans-serif;
  margin: 0.5em 0;
  color: #999;
}

.return-btn{
  font-size: 1.5rem;
  color: #fff;
  position: fixed;
  top: 40px;
  left: 40px;
  margin: 0;
}

.top-btn{
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  margin: 0;
}

.top-btn img{
  width: 40px;
}

footer{
  font-family: 'Questrial', 'Helvetica', sans-serif;
  font-size: 0.7rem;
  color:white;
  margin: 15px;
  text-align: center;
  width: 100%;
  bottom: 10px;
  position: fixed;
}